.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features{
    padding: 10rem 0;

    background-image:
            linear-gradient(to right bottom, rgba($color-primary-light,0.8), rgba($color-primary-dark,.8)),
            url("../img/nat-4.jpg");
    background-size: cover;
    background-position: top;
    position: relative;

    //This is to make the background skew like a clip path
    transform: skew(-7deg);

    //This will get the direct children of the parent so it will just pick up the children. If you just had
    // & * that will pick up every element under the parent, even grandchildren
    & > *{
        transform: skew(7deg);
    }
}