/*This is to set up and allow all browsers to start looking the same
Also: box-sizing makes sure that the border and padding are not added to total width and height of an element
Changed box-sizing to inherit for better practise and put it on body instead
*/
$color-primary:  #55c57a;
$color-primary-light:  #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;