/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*This is to set up and allow all browsers to start looking the same
Also: box-sizing makes sure that the border and padding are not added to total width and height of an element
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*The reason for adding font here is to make use of inheritance for font styling*/
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

/*If you want something on top of your background image, or below, you put it before/after in the same background-image tag
Also: to get clip path pre-made shapes: https://bennettfeely.com/clippy/
*/
.header{
    height: 95vh;
    background-image:
            linear-gradient(to right bottom, rgba(26,213,111,0.8), rgba(40,180,131,.8)),
            url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

/*The position of top/left are determined from parent who's position is set to relative */
.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo{
    height: 35px;
}

/*The transform element relates to the div itself where as the other position elements (top/left)
are in relation to the parent*/
.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*When there are elements within that are translating, there is a small shake from the parent,
so backface-visibility is hidden*/
.heading-primary{
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
}

/* When you want to set a span to be underneath each other, make them block instead of inline elements*/
.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 21.7px;

    animation: moveInRight 1s ease-out;
}

/*For best browser performance, using only opacity and transform are desirable*/
@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    80%{
        transform: translateX(10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    80%{
        transform: translateX(-10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}